.header{
    height: 100vh;
    
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-image: url("../../img/slider-bg/1135724-download-scuba-diving-wallpaper-2560x1600-pictures.jpg");
    position: relative;
}

.header__content{
    position: absolute;
    z-index: 9;

    top: 50px;
    left: 160px;
    right: 160px;
    bottom: 50px;
    // border: 1px solid red;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    pointer-events: none;

}

.header__nav{
    pointer-events: all;
}